/* Base pagina*/
header{
    background: url(imagenes/textura-madera.jpg);
    padding: 10px 0;
}

.caja{
    width: 80%;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #ffdb58c8;
    text-decoration: underline;
}

/*P치gina productos*/
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.8s;
}

.productos li:hover{
    border-color: #e3a54d;
    transform: scale(1.05);
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos-descripcion {
    font-size: 18px;
}

.productos-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.tituloPrincipal{
    padding: 30px;
    color: rgba(255, 255, 255, 0);
    font-size: 50px;
    font-family:fantasy;
    text-shadow: 2px 4px 0px rgba(209, 206, 206, 0.821);
}

.ubi {
    padding: 10px 0 10px;
}

.video{
    text-align: center;
    margin: 20px;
}

/*P치gina home*/
#banner {
    position: relative;
    width: 100%;
    margin: 0;
    opacity: .75;
}

.principal{
    padding: 20px;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
    font-family:fantasy;
    padding: 20px ;
    clear: left;
    font-family: 'Lobster', cursive;
}

#mision{
    font-size: 20px;
    padding: 10px 0 10px;
}

.principal p{
    text-align: center;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios {
    width: 25%;
    float: left;
    margin: 10px 30px;
}

.mapa p{
    text-align: center;
}

iframe{
    margin: 20px;
}

.diferenciales{
    background: #fff;
    padding: 30px;
    
}

.imagenDiferenciales{
    width: 50%;
}

.lista{
    display: inline-block;
    vertical-align:top;
    width: 20%;
    margin-right: 15%;
}

.items{
    font-style: italic;
}



/*P치gina contacto*/
main{
    width: 1200px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

#nombre-apellido , #correo , #telefono{
    padding: 8px;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.11);
}

table{
    margin: 40px 40px;
}

thead{
    background-color: #e3a54d;
    color: white;
    font-weight: bold;
}

td, thead{
    border: 1px solid black;
    padding: 8px;
}

/*Fin de p치gina*/
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 10px;
}

.pie-pagina{
    padding: 0 0 15px;
    color: white;
    font-size: 13px;
}

